<!-- <form  (ngSubmit)="registerHandle()" #registerForm="ngForm"> -->
  <form   [formGroup]="registerFormGroup" (ngSubmit)="registerHandle()">
  <fieldset>
    <legend>Register</legend>
    <p class="field field-icon">
      <label for="email"><span><i class="fas fa-envelope"></i></span></label>
      <!-- <input #email="ngModel" ngModel required pattern="[a-z0-9]+@[a-z0-9]+\.[a-z]+" id="email" class="email" name="email" type="text" placeholder="Email"> -->
      <input formControlName="email" id="email" class="email" name="email" type="text" placeholder="Email">
    </p>

    <ng-container *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
      <p *ngIf="registerFormGroup.controls['email'].errors?.['required']" class="error">
          Email is required!
      </p>

      <p *ngIf="registerFormGroup.controls['email'].errors?.['pattern']" class="error">
          Email is not valid!
      </p>
  </ng-container>

    <p class="field field-icon">
      <label for="firstName"><span><i class="fas fa-user"></i></span></label>
      <input formControlName="firstName" id="firstName" class="firstName" name="firstName" type="text" placeholder="First Name">
    </p>
    <ng-container *ngIf="registerFormGroup.controls['firstName'].touched && registerFormGroup.controls['firstName'].invalid">
    <p *ngIf="registerFormGroup.controls['firstName'].errors?.['required']" class="error">
      First name is required!
  </p>
    <p *ngIf="registerFormGroup.controls['firstName'].errors?.['minlength']" class="error">
      First Name must be more than 5 symbols!
    </p>
  </ng-container>

    <p class="field field-icon">
      <label for="lastName"><span><i class="fas fa-user"></i></span></label>
      <input formControlName="lastName" id="lastName" class="lastName" name="lastName" type="text" placeholder="Last Name">
    </p>
    <ng-container *ngIf="registerFormGroup.controls['lastName'].touched && registerFormGroup.controls['lastName'].invalid">
    <p *ngIf="registerFormGroup.controls['lastName'].errors?.['required']" class="error">
      Last name is required!
  </p>
    <p *ngIf="registerFormGroup.controls['lastName'].errors?.['minlength']" class="error">
      Last Name must be more than 5 symbols!
    </p>
  </ng-container>


  <div formGroupName="passwords">
    <div class="passwordGroup">
    <p class="field field-icon">
      <label for="password"><span><i class="fas fa-lock"></i></span></label>
      <input formControlName="password" name="password"  id="password" class="password"  type="password" placeholder="Password">
    </p>
  </div>
    <ng-container *ngIf="passwordGroup.controls['password'].touched && passwordGroup.controls['password'].invalid" class="error">
      <p *ngIf="passwordGroup.controls['password'].errors?.['required']" class="error">
        Password is required!
      </p>
      <p *ngIf="passwordGroup.controls['password'].errors?.['minlength']" class="error">
        Password must be more than 6 symbols!
      </p>
    </ng-container>
  
    <div class="passwordGroup">
    <p class="field field-icon">
      <label for="confPass"><span><i class="fas fa-lock"></i></span></label>
      <input formControlName="confPass" id="confPass" class="conf-pass" name="confPass" type="password" placeholder="Confirm Password">
    </p>
  </div>
    <ng-container *ngIf="passwordGroup.controls['confPass'].touched && passwordGroup.controls['confPass'].invalid" class="error">
      <p *ngIf="passwordGroup.controls['confPass'].errors?.['passwordMissmatch']" class="error">
        Passwords dont't match!
      </p>
    </ng-container>
  </div>
  

    <button [disabled]="registerFormGroup.invalid" type="submit" class="register">Register</button>
    

    <p class="bottom-field">
      <span>If you already have profile click <a href="/auth/login">here</a></span>
    </p>
  </fieldset>
</form>
