<form>
  <fieldset>
    <legend>Register</legend>
    <p class="field field-icon">
      <label for="email"><span><i class="fas fa-envelope"></i></span></label>
      <input id="email" class="email" name="email" type="text" placeholder="Email">
    </p>

    <p class="field field-icon">
      <label for="firstName"><span><i class="fas fa-user"></i></span></label>
      <input id="firstName" class="firstName" name="firstName" type="text" placeholder="First Name">
    </p>
    <p class="field field-icon">
      <label for="lastName"><span><i class="fas fa-user"></i></span></label>
      <input id="lastName" class="lastName" name="lastName" type="text" placeholder="Last Name">
    </p>

    <p class="error">
        Message for Error
      </p>


    <p class="field field-icon">
      <label for="password"><span><i class="fas fa-lock"></i></span></label>
      <input id="password" class="password" name="password" type="password" placeholder="Password">
    </p>

    <p class="field field-icon">
      <label for="conf-pass"><span><i class="fas fa-lock"></i></span></label>
      <input id="conf-pass" class="conf-pass" name="conf-pass" type="password" placeholder="Confirm Password">
    </p>


    <p class="error">
        Message for Error
      </p>


    <button type="submit" class="register">Register</button>

    <p class="bottom-field">
      <span>If you already have profile click <a href="/login">here</a></span>
    </p>
  </fieldset>
</form>
