<form  (ngSubmit)="registerHandle()" #registerForm="ngForm">
  <fieldset>
    <legend>Register</legend>
    <p class="field field-icon">
      <label for="email"><span><i class="fas fa-envelope"></i></span></label>
      <input #email="ngModel" ngModel required pattern="[a-z0-9]+@[a-z0-9]+\.[a-z]+" id="email" class="email" name="email" type="text" placeholder="Email">
    </p>

    <ng-container *ngIf="email.invalid && email.touched">
      <p *ngIf="email.errors?.['required']" class="error">
          Email is required!
      </p>

      <p *ngIf="email.errors?.['pattern']" class="error">
          Email is not valid!
      </p>
  </ng-container>

    <p class="field field-icon">
      <label for="firstName"><span><i class="fas fa-user"></i></span></label>
      <input #firstName="ngModel" ngModel required minlength="5" id="firstName" class="firstName" name="firstName" type="text" placeholder="First Name">
    </p>
    <ng-container *ngIf="firstName.touched && firstName.invalid">
    <p *ngIf="firstName.errors?.['required']" class="error">
      First name is required!
  </p>
    <p *ngIf="firstName.errors?.['minlength']" class="error">
      First Name must be more than 5 symbols!
    </p>
  </ng-container>

    <p class="field field-icon">
      <label for="lastName"><span><i class="fas fa-user"></i></span></label>
      <input #lastName="ngModel" ngModel required minlength="5" id="lastName" class="lastName" name="lastName" type="text" placeholder="Last Name">
    </p>
    <ng-container *ngIf="lastName.touched && lastName.invalid">
    <p *ngIf="lastName.errors?.['required']" class="error">
      Last name is required!
  </p>
    <p *ngIf="lastName.errors?.['minlength']" class="error">
      Last Name must be more than 5 symbols!
    </p>
  </ng-container>

<div>
    <p class="field field-icon">
      <label for="password"><span><i class="fas fa-lock"></i></span></label>
      <input #password="ngModel" name="password" ngModel required minlength="6"  id="password" class="password"  type="password" placeholder="Password">
    </p>
    <ng-container *ngIf="password.touched && password.invalid" class="error">
      <p *ngIf="password.errors?.['required']" class="error">
        Password is required!
      </p>
      <p *ngIf="password.errors?.['minlength']" class="error">
        Password must be more than 6 symbols!
      </p>
    </ng-container>
 
    <p class="field field-icon">
      <label for="conf-pass"><span><i class="fas fa-lock"></i></span></label>
      <input #confPass="ngModel" ngModel required minlength="6" id="conf-pass" class="conf-pass" name="conf-pass" type="password" placeholder="Confirm Password">
    </p>

    <ng-container *ngIf="confPass.touched && confPass.invalid" class="error">
      <p *ngIf="confPass.errors?.['required']" class="error">
        Password is required!
      </p>
      <p *ngIf="confPass.errors?.['minlength']" class="error">
        Password must be more than 6 symbols!
      </p>
    </ng-container>
  </div>

    <button [disabled]="registerForm.invalid" type="submit" class="register">Register</button>
    

    <p class="bottom-field">
      <span>If you already have profile click <a href="/auth/login">here</a></span>
    </p>
  </fieldset>
</form>
