
<form>
  <fieldset>
    <legend>Login</legend>
    <p class="field field-icon">
      <label for="username"><span><i class="fas fa-user"></i></span></label>
      <input type="text" name="username" id="username" class="error" placeholder="Email">
    </p>

    <p class="error">
      Message for Error
    </p>


    <p class="field field-icon">
      <label for="password"><span><i class="fas fa-lock"></i></span></label>
      <input type="password" name="password" id="password" placeholder="Password">
    </p>

    <p class="error">
      Message for Error
    </p>

   
    <button type="submit" class="login">Login</button>
    <p class="field">
        <span>If you don't have profile click <a href="/register">here</a></span>
      </p>

    
  </fieldset>
</form>



<!-- <form>
    
    <fieldset>
      <h1>Login</h1>

      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input type="text" name="username" id="username" class="error" placeholder="Joh Smith">
      </p>

     
      <p class="error">
        Message for Error
      </p>
  
      
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input type="text" name="email" id="email" placeholder="marк@gmial.com">
      </p>

      <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input type="password" name="password" id="password" placeholder="******">
      </p>

      <p>
        <button>Login</button>
      </p>
      
      <p class="text-center">
        Have an account?
        <a href="/login">Log In</a>
      </p>
      
    </fieldset>
  </form> -->
