.wrapper {
  height: 750px;
  width: 700px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px;
  margin-bottom: 200px;
  background-color: #f7f7f7;
  padding: 25px;
}

.phoneCover img {
  float: center;
  margin-left: 220px;
  margin-top: 3px;
  height: 30%;
  width: 30%;
  margin-right: 60px;
  border-radius: 15px;
  padding: 1%;
}

input,
input + label > i {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #384049;
  background:#f7f7f7;
  display: block;
  width: 100%;
  color: black;
}

.phoneText {
  font-weight: bold;
  color: black;
}

input[type="text"] {
  width: 45%;
  font-size: 1.2em;
  line-height: 1;
  border: 1px solid;
  padding: 5px;
  border-left: 3px solid #42a948;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

p.error {
  /* float: right; */
  margin-top: 0%;
  text-align: left;
  color: black;
  background-color: #f7949c;
  padding: 3px;
  border-radius: 3px;
  margin-left: 0px;
  width: 47%;
  margin-bottom: 0%;
}

input.ng-valid {
  border-left: 5px solid #42a948;
  /* green */
}

input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
  /* red */
}

.edit,
.remove,
.save,
.like__btn {
  color: white;
  border: none;
  padding: 10px;
  margin: 20px;
  width: 20%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  font-size: 20px;
}

.like {
  margin-left: 600px;
  font-size: 25px;
  color: black;
}
