<div *ngIf="!!phone">
<section id="detailsPage">
    <div class="wrapper">
        <div class="phoneCover">
            <img src="">
        </div>
        <div class="phoneInfo">
            <div class="phoneText">

                <h1>Name: {{phone.phoneName}}</h1>
                <h3>Price: ${{phone.phonePrice}}</h3>
                <p>Description: {{phone.description}}</p>
                <p>Release Date:{{phone.releaseDate}}</p>
            </div>

            <!-- Only for registered user and creator of the phone-->
            <div class="actionBtn">
                <a routerLink="/data/:id/edit" class="edit">Edit</a>
                <a routerLink="/data/:id/delete" class="remove">Delete</a>
                <a routerLink="/data/:id/like" class="like">Like</a>
            </div>
        </div>
    </div>
</section>
<!-- <ng-template #loadingIndicator>Loading...</ng-template> -->
</div>



<!-- phoneName: string;
    phonePrice: string;
description: string[];
releaseDate: string;
phoneLikes: string[];
comments: T[];
userId: IUser; -->
