<div *ngIf="phone; else loadingIndicator">
  <ng-container *ngIf="!isInEditMode">
    <section id="detailsPage">
      <div class="wrapper">
        <div class="phoneCover">
          <img src="{{phone.img}}">
        </div>
        <div class="phoneInfo">
          <div class="phoneText">

            <p>Name: {{phone.phoneName}}</p>
            <p>Price: ${{phone.phonePrice}}</p>
            <p>Description: {{phone.description}}</p>
            <p>Release Date: {{phone.releaseDate}}</p>
            <p>ImageURL: {{phone.img}}</p>

          </div>

          <p class="field field-icon">
            <label for="like"><span class="like"><i class="fa-solid fa-thumbs-up fa-xl"></i>  {{phone.rating}}</span></label>
          </p>
          <div *ngIf="isAuthor" class="actionBtn" > 
            <ng-container  *ngIf="!isLiked">
          
              <button (click)="getLikes()">Like</button>
            </ng-container>
          </div>

          <!-- Only for registered user and creator of the phone-->
          <div *ngIf="isOwner" class="actionBtn">
            <button (click)="editPhone()" class="edit">Edit</button>
            <button (click)="deletePhone()" class="remove">Delete</button>

          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>



  <ng-container *ngIf="isInEditMode">
    <form #editForm="ngForm" (ngSubmit)="updatePhone()">
      <section id="detailsPage">
        <div class="wrapper">
          <div class="phoneCover">
            <img #img src="{{phone.img}}">
          </div>
          <div class="phoneInfo">
            <div class="phoneText">

              <label>Name:</label>
              <input #phoneName="ngModel" type="text" name="phoneName" ngModel required id="phoneName"
                value="phone name">
              <ng-container *ngIf="phoneName.touched && phoneName.invalid" class="error">
                <p *ngIf="phoneName.errors?.['required']" class="error">
                  Phone name is required!
                </p>
              </ng-container>
              <label>Price:</label>
              <input #phonePrice="ngModel" type="text" name="phonePrice" ngModel required id="phonePrice"
                value="phone price">
              <ng-container *ngIf="phonePrice.touched && phonePrice.invalid" class="error">
                <p *ngIf="phonePrice.errors?.['required']" class="error">
                  Phone price is required!
                </p>
              </ng-container>

              <label>Description:</label>
              <input #description="ngModel" type="text" name="description" ngModel required minlength="10"
                id="description" value="description">
              <ng-container *ngIf="description.touched && description.invalid" class="error">
                <p *ngIf="description.errors?.['required']" class="error">
                  Phone description is required!
                </p>
                <p *ngIf="description.errors?.['minlength']" class="error">
                  Phone description must be more than 10symbols!
                </p>
              </ng-container>

              <label>Release Date:</label>
              <input #releaseDate="ngModel" type="text" name="releaseDate" ngModel required id="releaseDate"
                value="release date">
              <ng-container *ngIf="releaseDate.touched && releaseDate.invalid" class="error">
                <p *ngIf="releaseDate.errors?.['required']" class="error">
                  Phone release date is required!
                </p>
              </ng-container>

              <label>Image:</label>
              <input #img="ngModel" type="text" name="img" ngModel required id="img" value="image">
            </div>
            <p class="field field-icon">
              <label  for="like"><span class="like"><i class="fa-solid fa-thumbs-up fa-xl"></i>  {{phone.rating}}</span></label>
            </p>
            <div class="actionBtn">
              <button [disabled]="editForm.invalid" class="save">Save</button>
              <button (click)="isInEditMode=false"
                class="remove">Cancel</button>

            </div>
          </div>
        </div>
      </section>
    </form>
  </ng-container>
  <!-- </ng-container> -->

<ng-template #loadingIndicator>Loading...</ng-template>