
nav,
footer {
    background-color: rgb(32, 50, 57) ;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
}

nav, 
header {
    background-color: rgb(32, 50, 57) ;
    margin: 0%;
}

nav a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 20px;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.2em;
    color: white;
}


nav > img {
    width: 40px;
    height: 50px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 5px;
}

p { 
        position: fixed;
        z-index: 10;
        right: 8%;
        top: 8%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: rgb(255, 255, 255);
        font-style: italic;
        text-decoration: underline;
        box-shadow: 0 5px 10px rgb(204, 204, 204);
        background-color: rgba(238, 74, 74, 1);
      }










