nav {
    display: flex;
    font-size: 16px;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
} 



.btn__header {
    list-style-type: none;
    display: inline;
    padding: 15px;
    background-color: blueviolet;
    border-radius: 40px;
    border: none;
    box-shadow: rgb(black, .90);
    margin: 10px 5px;
    transition: all .2s;
}

.btn__header:hover {
    transform: translateY(30px);
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    padding: 8px;
    transition: all .2s;
}


nav a:hover {
    transform: translateY(3px);
    color: rebeccapurple;
}


















