<section class="createPage">
    <form>
        <fieldset>
            <legend>Add Mobile Phone</legend>

            <div class="container">
                <label for="name" class="vhide"></label>
                <input id="name" name="name" class="name" type="text" placeholder="Mobile Phone">

                <label for="imgUrl" class="vhide"></label>
                <input id="imgUrl" name="imgUrl" class="imgUrl" type="text" placeholder="Image Url">

                <label for="price" class="vhide"></label>
                <input id="price" name="price" class="price" type="text" placeholder="Price">

                <label for="description" class="vhide"></label>
                <textarea name="description" class="description" placeholder="Description"></textarea>

                <button class="add-phone" type="submit"></button>
            </div>
        </fieldset>
    </form>
</section>