<div class="card-box">
    <!-- <img src="../../../assets/smartphone-g4348222e2_1280.png"> -->
    <img src="{{phone.img}}">
<div>
        <div class="text-center">
            <p class="name">Name: {{phone.phoneName}}</p>
            <!-- <p class="img">{{phone.img}}</p> -->
            <p class="price">Price: {{phone.phonePrice}}$</p>
            <p class="description">{{phone.description}}</p>
        </div>
        <div class="btn-group">
            <a [routerLink]="['/data/details/', phone._id]" id="details">Details</a>
        </div>
    </div>
</div>

