 <ng-container *ngIf="!isInEditMode">
 <div *ngIf="currentUser" class="profile">
   <fieldset>
     <img src="../../../assets/Sample_User_Icon.png" alt="default user">

     <legend>User Info:</legend>
     <section>
       <div class="flex">
         <p>First Name: </p>
         <p type="text" name="firstName" id="firstName" value="Johny">{{currentUser.firstName}}</p>
       </div>
       <div class="flex">
         <p>Last Name:  </p>
         <p type="text" name="lastName" id="lastName" value="Johny">{{currentUser.lastName}}</p>
       </div>
       <div class="flex">
         <p>Email: </p>
         <p type="email" name="email" id="email" value="john.doe@gmail.com">{{currentUser.email}}</p>
       </div>
       <button a (click)="editProfileButton()" [routerLink]="['/auth/profile']" class="red-button">Edit</button>
     </section>
   </fieldset>

 </div>
</ng-container>

<ng-container *ngIf="isInEditMode">
  <div *ngIf="currentUser"  class="profile">
    <fieldset>
      <img src="../../../assets/Sample_User_Icon.png" alt="default user">
      <legend>User Info:</legend>
      <!-- [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()" -->
      <form #editProfile="ngForm" (ngSubmit)="saveProfileEdit()">
        <div class="flex">
          <p>First Name: </p>
          <input firstName="ngModel" ngModel required type="text" name="firstName" id="firstName" value="Johny">
        </div>
        <div class="flex">
          <p>Last Name:  </p>
          <input lastName="ngModel" ngModel required type="text" name="lastName" id="lastName" value="Johny">
        </div>
        <div class="flex">
          <p>Email: </p>
          <input email="ngModel" ngModel required type="email" name="email" id="email" value="john.doe@gmail.com">
        </div>
        <button a class="save">Save</button>
        <button (click)="isInEditMode=false" [routerLink]="['/auth/profile']" class="remove">Cancel</button>
      </form>
    </fieldset>
 
  </div>
 </ng-container>
