.profile img {
    width: 40%;
}

fieldset {
    display: flex;
    flex-direction: row;
    padding: 40px 40px;
    width: 45%;
    margin: 0 auto;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    height: 100%;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px;
    color: black;
    
}

fieldset legend {
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-align: center;
    background: blueviolet;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px;
    display: block;
    width: 100%;
    margin: 0 auto; 
    color: white;
}


.flex {
    color: black;
}

.flex > input, .flex > div {
    width: 65%;
    text-align: left;
    margin: 10px;
}


.flex {
    display: flex;
    align-items: center;
}

.flex p:first-child {
    width: 35%;
    text-align: right;
    margin: .5em;
}

.flex p:last-child {
    width: 65%;
    text-align: left;
    margin: .5em;
    font-weight: bold;
}


.edit,
.save,
.remove {
  color: white;
  border: none;
  padding: 10px;
  margin: 20px;
  width: 30%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  font-size: 20px;
}

p.error {
    text-align: left;
    color: black;
    background-color: #f7949c;
    padding: 8px;
    border-radius: 3px;
}


input.ng-valid  {
    border-left: 5px solid #42A948;
    /* green */
}

input.ng-invalid.ng-touched {
    border-left: 5px solid #A94442;
    /* red */
}
