
    <div class="profile">
        <img src="./profile.png" alt="default user">
        <h3>User Info:</h3>
        <form action="">
            <div class="flex">
                <p>First Name: </p>
                <input type="text" name="firstName" id="firstName" value="Johny">
            </div>
            <div class="flex">
                <p>Last Name: </p>
                <input type="text" name="lastName" id="lastName" value="Johny">
            </div>
            <div class="flex">
                <p>Email: </p>
                <input type="email" name="email" id="email" value="john.doe@gmail.com">
            </div>
            <button class="red-button">Cancel</button>
            <button class="green-button">Save</button>
        </form>
    </div>

