<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Mobile Phones World</title>
    <link rel="stylesheet" href="catalog.css"/>
</head>

<!--Catalog-->
        <section id="catalogPage">
            <h1>Catalog</h1>

            <div class="card-box">
                <img src="./images/samsung_A71_.jpg">
            <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="img">Samsung</p>
                        <p class="price">Price: $300.80</p>
                        <p class="description">Smartphone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>
            <!--No phones in catalog-->
            <!-- <p>No Phones in Catalog!</p> -->

            <div class="card-box">
                <img src="./images/samsung_A71_.jpg">
            <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="img">Samsung</p>
                        <p class="price">Price: $300.80</p>
                        <p class="description">Smartphone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>

            <div class="card-box">
                <img src="./images/samsung_A71_.jpg">
            <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="img">Samsung</p>
                        <p class="price">Price: $300.80</p>
                        <p class="description">Smartphone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <img src="./images/samsung_A71_.jpg">
            <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="img">Samsung</p>
                        <p class="price">Price: $300.80</p>
                        <p class="description">Smartphone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <img src="./images/samsung_A71_.jpg">
            <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="img">Samsung</p>
                        <p class="price">Price: $300.80</p>
                        <p class="description">Smartphone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <img src="./images/samsung_A71_.jpg">
            <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="img">Samsung</p>
                        <p class="price">Price: $300.80</p>
                        <p class="description">Smartphone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

        </section>