
.wrapper {
    height: 400px;
    width: 1000px;
    margin: 30px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 0px 1.5px 3px gray;
    margin-bottom: 200px;
    background-color: #f7f7f7;
}

.phoneCover {
    float: left;
    margin-top: 2%;
    height: 90%;
    width: auto;
    margin-right: 20px;
}

.phoneCover img {
    border-radius: 12px 0 0 7px;
    height: 100%;
}

.phoneText {
    padding-left: 10px;
    padding-top: 20px;
}

.phoneText h1 {
    color:black;
    font-weight: bolder;
    font-size: 28px;
}



.phoneText h4 {
    margin: 8px 0 10px 18px;
    font-size: 16px;
    color: black;
    letter-spacing: 0.2em;
}

.phoneText h5 {
    margin: 8px 0 10px 14px;
    font-size: 16px;
    color: white;
}

.phoneText > p {
    height: auto;
    width: 100%;
    color: black;
    line-height: 1.6em;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.actionBtn  {
    text-align: right;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    padding: 10%;
}

.actionBtn > a {
	width: 250%;
	height: 50px;
	cursor: pointer;
	border: none;
    border-radius: 15px;
	display: inline;
	align-items: center;
	justify-content: center;
	background-color:rgb(20, 30, 39);
    color: white;
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
}

.actionBtn > a:hover {
	background-position: right;
}