<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Mobile Phones World</title>
    <link rel="stylesheet" href="details.css" />
</head>

<!--Details Page-->
<section id="detailsPage">
    <div class="wrapper">
        <div class="phoneCover">
            <img src="./images/samsung_A71_.jpg">
        </div>
        <div class="phoneInfo">
            <div class="phoneText">

                <h1>Name: Samsung A71</h1>
                <h4>Price: $300.00</h4>
                <p>Description: Cool smartphone for everyone</p>
            </div>

            <!-- Only for registered user and creator of the phone-->
            <div class="actionBtn">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="remove">Delete</a>
                <a href="#" class="like">Like</a>
            </div>
        </div>
    </div>
</section>