<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Mobile Phones World</title>
    <link rel="stylesheet" href="edit.css" />
</head>

<!--Edit Page-->
<section class="editPage">
    <form>
        <fieldset>
            <legend>Edit Phone</legend>

            <div class="container">
                <label for="name" class="vhide">Phone name</label>
                <input id="name" name="name" class="name" type="text" value="Sony">

                <label for="imgUrl" class="vhide">Image Url</label>
                <input id="imgUrl" name="imgUrl" class="imgUrl" type="text" value="">

                <label for="price" class="vhide">Price</label>
                <input id="price" name="price" class="price" type="text" value="300.00">

                <label for="description" class="vhide">Description</label>
                <textarea name="description" class="description" rows="10"
                    cols="10">Cool Smartphone for everyone</textarea>

                <button class="edit-phone" type="submit">Edit Mobile Phone</button>
            </div>
        </fieldset>
    </form>
</section>