<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Mobile Phones World</title>
    <link rel="stylesheet" href="home.css"/>
</head>

<body>

    <div id="box">

        <!--Navigation-->
        <header>
            <nav>

                <img src="./images/samsung_A71_.jpg">
                <a href="#">Home</a>
                <ul>
                    <!--All user-->
                    <li><a href="#">Catalog</a></li>
                    <!--Only guest-->
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <!--Only user-->
                    <li><a href="#">Add mobile phone</a></li>
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            
            </nav>
        </header>

        <!-- <main id="main-content"></main> -->

        <!--Home Page-->
        <section id="welcomePage">
            <div id="welcome-message">
                <h1>Welcome to Mobile Phones World!</h1>
            </div>
           
            <div class="card-box">

                <img src="./images/samsung_A71_.jpg">
                <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="model">Model</p>
                        <p class="price">Price: $300.00</p>
                        <p class="description">Smartphone for everyone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>

            <div class="card-box">

                <img src="./images/samsung_A71_.jpg">
                <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung A71</p>
                        <p class="model">Model: A71</p>
                        <p class="price">Price: $300.00</p>
                        <p class="description">Smartphone for everyone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>
            <div class="card-box">

                <img src="./images/samsung_A71_.jpg">
                <div>
                    <div class="text-center">
                        <p class="name">Name: Samsung</p>
                        <p class="model">Model: A71</p>
                        <p class="price">Price: $300.00</p>
                        <p class="description">Smartphone for everyone</p>
                    </div>
                    <div class="btn-group">
                        <a href="#" id="details">Details</a>
                    </div>
                </div>
            </div>

           
        </section>

        <footer>
            <div>
                &copy;Plamena Petkova 2022. All rights reserved.
            </div>
        </footer>
    </div>
</body>

</html>