.home__page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    color: white;
}

@media screen and (max-width: 600px) {
    .home__page {
        margin: 0;
    }
  }