footer {
    width: 100vw;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;

    color: white;
    box-shadow: rgba(black, .90);
}

.btn__socials {
    background-color: transparent;
    color:white;
    border: none;
    font-size: 16px;
    margin: 5px;
    transition: all .2s;
    cursor: pointer;
}

.btn__socials:hover {
    transform: translateY(-4px);
}