<footer>
    <div>
        &copy;Plamena Petkova 2022. All rights reserved.
        <div class="socials">
            Follow us on socials
            <label for="instagram"><button class="btn__socials"><i class="fab fa-instagram"></i></button></label>
            <label for="facebook"><button class="btn__socials"><i class="fab fa-facebook"></i></button></label>
            <label for="youtube"><button class="btn__socials"><i class="fab fa-youtube"></i></button></label>
        </div>
    </div>
    
</footer>